.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: arial;
}
.r-half {
display: flex;
}
.l-half {
  display: flex;
}